/* #ab{
    background-color:rgb(121, 218, 190);
    height:80px;
}
#cd{
    background-color:rgb(59, 189, 153);
    height:80px;
}
#ef{
    background-color:rgb(41, 147, 117);
    height:80px;
}
#gh{
    background-color:rgb(21, 85, 67);
    height:80px;
}
#ij{
    background-color:rgb(2, 30, 22);
    height:80px;
} */

/* body{
    background-color:rgb(111, 119, 210);
}

p{
    margin-top:180px;
    text-align:center;
   
}
img{
    border:5px solid cornsilk;
}
p{
  text-align:center;
  font-size:90px;
  font-style:italic;
  margin-top:10px;
  color:rgb(40, 250, 12);
} */
/* body{
    background-color:blueviolet;
}

div{
     display:inline;
     width:60px;
} */

/* #ert img{
    float:left;
}
h1{
    padding-left:300px;
}
p{
    margin-right:400px;
    margin-top:300px;
    font-size:40px;
} */
/* #ert{
   
    background-color:deeppink;
    color:azure;
    font-size:25px;
    border-radius:750px;
    border:3px solid crimson;
    opacity:0.4;
    cursor:not-allowed;
   
}
#ert:hover{
   background-color:green;
}
 */
body{
    background-color:#252B37;
}
 



    #ge1{
        position: absolute;
        top: 100px;
        left: 400px;
        width: 600px;
        height: 500px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow:
          0 0 60px 30px #fff,
          0 0 100px 60px #f0f,
          0 0 140px 90px #0ff;
      }
 
 
 #g1{
    position:relative;
    left:560px;
    top:160px;
    border-radius:48%;
   
    margin-left:-100px;
 }

 #ge2 {
    position: relative;
    left:450px;
    
    width: 40vw;
    height: 35vw;
    border-radius:20%;
    line-height: 30vw;
    text-align: center;
    color: #252B37;
    background-color: #151823;
    animation: textColor 10s ease infinite;
   
      
    @keyframes textColor {
      0% {
        color: #7e0fff;
      }
      50% {
        color: #0fffc1;
      }
      100% {
        color: #7e0fff;
      }
    }
}

  #g2{
    position:relative;
    left:580px;
    top:-450px;
    border-radius:20%;
   
    margin-left:-100px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
/* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url(bg.png);
  background-size: cover;
} */
#gg3{
    border-radius:10%;
    border:4px solid rgb(169, 200, 228);
    position:relative;
    height:600px;
    width:600px;
    left:400px;
    top:-400px;


}
#gg3{
    background-color: #026873;
    background-size: 13px 13px, 29px 29px, 37px 37px, 53px 53px;
    background-image: -webkit-linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%), -webkit-linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-image: -moz-linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%), -moz-linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%), -moz-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%), -moz-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-image: -ms-linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%), -ms-linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%), -ms-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%), -ms-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-image: -o-linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%), -o-linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%), -o-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%), -o-linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-image: linear-gradient(0, rgba(255, 255, 255, .07) 50%, transparent 50%), linear-gradient(0, rgba(255, 255, 255, .13) 50%, transparent 50%), linear-gradient(0, transparent 50%, rgba(255, 255, 255, .17) 50%), linear-gradient(0, transparent 50%, rgba(255, 255, 255, .19) 50%);
}

#g3{
    position:relative;
    top:70px;
    left:110px;
    border:7px solid rgb(32, 110, 141);
    border-radius:10%;
}

#g4{
    position:relative;
    top:140px;
    left:130px;
    border:7px solid rgb(32, 110, 141);
    border-radius:48%;
}


  
#gg4 {
    position: relative;
    top: -240px;
    left: 360px;
    width: 700px;
    height: 800px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
  }

  /* div {
    margin: 20px 10px 10px;
    text-align: center;
    font-family: sans-serif;
} */

#gg5 {
    position:relative;
    left:470px;
    display: inline-block;
    padding-top: 40px;
    background: whiteSmoke;
    width: 460px;
    height: 490px;
    text-align: center;
    vertical-align: middle;

    -webkit-box-shadow: 0 0 500px #f6bb09;
       -moz-box-shadow: 0 0 500px #f6bb09;
            box-shadow: 0 0 500px #f6bb09;

    -webkit-border-radius: 48%;
       -moz-border-radius: 48%;
            border-radius: 48%;

    -webkit-transition: box-shadow .4s ease;
       -moz-transition: box-shadow .4s ease;
        -ms-transition: box-shadow .4s ease;
         -o-transition: box-shadow .4s ease;
            transition: box-shadow .4s ease;
}

span:hover {
    -webkit-box-shadow: 0 0 50px red;
       -moz-box-shadow: 0 0 50px red;
            box-shadow: 0 0 50px red;
}
  
  
  
#g5{
    position:relative;
    top:-40px;
    left:0px;
    border:3px dotted rgb(246, 52, 17);
    border-radius:48%;
}

#gg6 {
    position:relative;
    left:450px;
    width: 500px;
    top:280px;
    height: 500px;
    border-radius:20%;
    background-color: #fff;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #62257c, 0 0 140px 90px #62257c;
  }

  #g6{
    position:relative;
    top:10px;
    left:20px;
    border-radius:20%;
    border:4px solid rgb(186, 239, 133);
    opacity:10;
  }


  



#gg7 {
    animation:spin 4s linear infinite;
    position:relative;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 140px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px blue,
        inset 20px 0 300px violet,
        inset -20px 0 300px blue,
          0 0 50px #fff,
          -10px 0 60px violet,
          10px 0 60px blue;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#g7{
    position:relative;
    top:100px;
    left:80px;
    border-radius: 50%;
    opacity:1.1;

}

#gg8 {
    position:relative;
    top:200px;
    left:440px;
    display: inline-block;
    padding-top: 40px;
    background: whiteSmoke;
    width: 460px;
    height: 490px;
    text-align: center;
    vertical-align: middle;

    -webkit-box-shadow: 0 0 500px #f6bb09;
       -moz-box-shadow: 0 0 500px #f6bb09;
            box-shadow: 0 0 500px #f6bb09;

    -webkit-border-radius: 10%;
       -moz-border-radius: 10%;
            border-radius: 10%;

    -webkit-transition: box-shadow .4s ease;
       -moz-transition: box-shadow .4s ease;
        -ms-transition: box-shadow .4s ease;
         -o-transition: box-shadow .4s ease;
            transition: box-shadow .4s ease;
}

span:hover {
    -webkit-box-shadow: 0 0 50px red;
       -moz-box-shadow: 0 0 50px red;
            box-shadow: 0 0 50px red;
}

#g8{
    position:relative;
  border-radius:10%;
}

#gg9 {
    position:relative;
    left:450px;
    width: 470px;
    top:520px;
    height: 500px;
    border-radius:0%;
    background-color: #fff;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #62257c, 0 0 140px 90px #62257c;
  }

#g9{
    position:relative;
    border-radius:0%;
    left:35px;
    top:6px;


}
#gg10 {
    animation:spin 4s linear infinite;
    position:relative;
    top:560px;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 140px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px rgb(244, 90, 29),
        inset -20px 0 60px rgb(244, 44, 34),
        inset 20px 0 300px rgb(248, 108, 28),
        inset -20px 0 300px rgb(246, 53, 31),
          0 0 50px #fff,
          -10px 0 60px rgb(246, 100, 21),
          10px 0 60px rgb(245, 57, 10);
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#g10{
    position:relative;
    border-radius:50%;
    top:85px;
    left:80px;
}

